
<EditForm Model="recursosE" OnValidSubmit="OnValidSubmit">

    <DataAnnotationsValidator />

    <div class="mb-3">
        <label>Nombre</label>
        <div>
            <InputText width="10" @bind-Value="@recursosE.nombre"></InputText>
            <ValidationMessage For="@(() => @recursosE.nombre)" />
        </div>
        <label>Descripcion</label>
        <div>
            <InputNumber width="10" @bind-Value="@recursosE.cantidad"></InputNumber>
            <ValidationMessage For="@(() => @recursosE.cantidad)" />
        </div>
        <label>Teimpo de Comienzo</label>
        <div>
            <InputDate width="10" @bind-Value="@recursosE.proveedor"></InputDate>
            <ValidationMessage For="@(() => @recursosE.proveedor)" />
        </div>
 

    </div>

    <button class="btn btn-primary" type="submit">Guardar <i class="bi bi-floppy2"></i></button>
    <button class="btn btn-info" type="reset">Limpiar <i class="bi bi-x-octagon"></i></button>
    <button class="btn btn-secondary" @onclick="ReturnAction">Regresar <i class="bi bi-arrow-clockwise"></i></button>
</EditForm>




@code {


    [EditorRequired]
    [Parameter]
    public RecursosE recursosE {get;set;}
    


    [EditorRequired]
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback ReturnAction { get; set; }


}

